body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 8px;
}

li {
  margin-bottom: 5px;
}

ol, ul {
  padding-left: 16px;
}

.board-row {
  align-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 8px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  height: 28px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 28px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 380px) {
  .game {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    align-items: initial;
  }
}

.game-info {
  margin-left: 20px;
}

.game-info div {
  margin-bottom: 7px;
}
